---
# this is an empty front matter
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | ACM MobiCom {{ site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
    {% include header.html %}

    <section id="organization" class="section faq" style="display: block;">
        <div class="container">

            <h3>Workshop Organisers</h3>
						{% for chair in site.data.chairs.general_chairs %}
              {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
            {% endfor %}

	    			

            <h3>Web Chair</h3>
						{% for chair in site.data.chairs.web_chairs %}
              {{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}<br/>
            {% endfor %}

            <h3>Technical Program Committee</h3>

		Nishanth Sastry, University of Surrey, UK </br>
Mahesh Marina, University of Edinburgh, UK </br>
Ahmed Saeed, GeorgiaTech, USA </br>
Aravindh Raman, Telefonica Research, Spain </br>
Debopam Bhattacherjee, Microsoft Research India </br>
Anna Brünstorm, Karlstadt University, Sweden </br>
Akshay Gadre, University of Washington, USA </br>
Tusher Chakraborty, Microsoft Research, USA </br>
Roland van Rijswijk, University of Twente, Netherlands </br>
Jörg Ott, Technical University of Munich, Germany </br>
Suzan Bayhan, University of Twente, Netherlands </br>
Arpit Gupta, University of California Santa Barbara, USA </br>
David Bermbach, TU Berlin, Germany </br>
Yuanjie Li, Tsinghua University, China </br>
Giuliari Giacomo, ETH Zurich, Switzerland </br>

	 <h3>Advisory Board Member</h3>					
Debopam Bhattacherjee, Microsoft Research India </br>
<!--             <h3>Steering Committee</h3> -->
            

        </div>
    </section>

    <!-- import navigation bar and header -->
    <script src="//code.jquery.com/jquery.min.js"></script>

    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>
</body>
</html>
