---
# this is an empty front matter
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | ACM MobiCom {{ site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
    {% include header.html %}

    <section id="about" class="section about" style="display: block;">
        <div class="container">
            <h3 style="text-align:center;" class="section-title">{{ site.data.conference.title }}
                <br><br>
                <font size="4">Technically co-sponsored by the <a href="https://advancedwireless.org/" target="_blank">PAWR</a> Project Office and by the <a href="https://slices-sc.eu" target="_blank">SLICES-SC</a> program</font>
            </h3>

            <p align="justify">The increasing complexity of the wireless ecosystem witnessed in recent years has prompted an increasing need of experimental validation of innovative wireless solutions and applications and their coexistence. The WiNTECH workshop has been created to deal with all those methodological, technical and policy issues to be faced when defining, running, controlling and benchmarking experiments on wireless solutions. The workshop, now in its 17th edition, intends to bring together academic researchers and industry players working on different aspects of experimental wireless communications and networking. As such, it serves as a forum for sharing experiences and results with real testbeds, experimental evaluation, prototyping and empirical characterization of wireless technologies.</p>

            <p align="justify">The workshop will facilitate discussions on unresolved issues, including new laboratory methodologies, key real-life limitations of wireless technologies that have emerged over the past few years (e.g., mmWave, underwater, 5G, IoT, wearables, and SDN), as well as key challenges facing the wireless networking of the future. As WiNTECH concerns experimental communications and networking, it will feature a relatively large demo session as centerpiece, where real testbeds, deployments and prototypes can be demonstrated and discussed. A demo competition is planned.</p>

            <p align="justify">All the regular papers will be considered for the <b>Best Paper Award</b>.</p>

            <p id="listing" align="justify">In addition to the regular papers, the program of {{ site.data.conference.short_title }} {{ site.data.conference.year }} will also include:</p>
            <li>Keynote speeches from three experts in experimental wireless research</li>
            <li>Demos and posters</li>
            <li>A panel session on experimental wireless research</li>
            <br>

						{% if site.data.keynotes.size > 0 %}
            <p><b>Keynote Speakers:</b><br/>
						{% for keynote in site.data.keynotes %}
							{{ keynote.academic_title }} {{ keynote.firstname }} {{ keynote.lastname }}, {{ keynote.affiliation }}
						{% endfor %}
						{% endif %}

            <p><b>IMPORTANT DATES:</b><br/>
            Paper registration: {{ site.data.dates.registration }}<br/>
            Paper submission: {{ site.data.dates.submission }}<br/>
            Demos &amp; Posters submission: {{ site.data.dates.poster_demo_submission }}<br/>
            Acceptance notification: {{ site.data.dates.notification }}<br/>
            Camera ready: {{ site.data.dates.camera_ready }}<br/>
            Workshop: {{ site.data.conference.dates }}</p>

        </div><!-- /.container -->
    </section>

    <!-- import navigation bar and header -->
    <script src="//code.jquery.com/jquery.min.js"></script>

    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>
</body>
</html>
